.p-footer{
    margin: 0;
    padding: ($base-padding*0.75/$base-px*100vw) 0;
    // background:#f1eae0;
    background:rgba(0, 0, 0, 0.9);
    border-top: 1px solid #ddd;
    color: rgba(255,255,255,0.8);
    letter-spacing: 0;
    @include breakpoint($bp-md) {
        margin: 0;
        padding: 20px 0;
    }
    &-link{
        font-size: 0;
        margin: (20/$base-px*100vw) 0;
        @include breakpoint($bp-md) {
            margin: 20px 0;
        }
        li{
            display: inline-block;
            a{
                font-size: (14/$base-px*100vw);
                text-decoration: none;
                color: rgba(255,255,255,0.8);
                @include breakpoint($bp-md) {
                    font-size: 14px;
                }
            }
            &:after{
                content:"|";
                font-size: (14/$base-px*100vw);
                margin: 0 (8/$base-px*100vw);
                @include breakpoint($bp-md) {
                    font-size: 14px;
                }
            }
            &:nth-child(2):after{
                display: none;
            }
        }
        text-align: center;

    }
    &-content{
        padding: 0 ($base-padding/$base-px*100vw);
        font-size: (12/$base-px*100vw);
        @include breakpoint($bp-md) {
            padding: 0;
            width: 1200px;
            margin: 0 auto;
            font-size: 14px;
        }
        >div{
            > span{
                display: block;
                font-size: (20/$base-px*100vw);
                font-family: "正楷書CB1","Sei Kaisho CB1";
                @include breakpoint($bp-md) {
                    font-size: 24px;
                }
            }
        }
        .p-sns{
            a{
                color:#fff;
            }
        }
    }
}

.p-copyright{
    font-size: (11/$base-px*100vw);
    text-align: center;
    color:rgba(255,255,255,0.5);
    letter-spacing: 0;
    @include breakpoint($bp-md) {
        font-size: 1.2rem;
    }
}
