body{
    height: 100vh;
    padding-bottom: (64/$base-px*100vw);
    // padding: 0 0 (64/$base-px*100vw) 0;
    @include breakpoint($bp-md) {
        // margin-bottom: 120px;
    }
}

img{
    width: 100%;
    height: auto;
}

#page{
    overflow:hidden;
}

.p-separator{
    margin: 20px 0;
    &.is-border{
        margin: 30px 0;
        &:after{
            content:"";
            width: 36%;
            height: 1px;
            background:#ccc;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -18%;
        }
    }
    height: 1px;
    position: relative;
}

.p-bkg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(./img/bkg3.jpg) no-repeat center center;
    background-size:cover;
    z-index:98 !important;
}

.p-site{
    min-height: 100vh;
    padding-bottom: (64/$base-px*100vw);
    position: relative;
    z-index: 99;
    @include breakpoint($bp-md) {
        padding-bottom: 0;
    }
}

#content{
    min-height: 100vh;
    // padding-bottom: (64/$base-px*100vw);
    @include breakpoint($bp-md) {
    }
}

.p-menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index:100;
    pointer-events: none;
    &_layer{
        width: 100vw;
        height: 100vh;
        background:rgba(0,0,0,0.75);
        pointer-events: none;
        opacity:0;
        pointer-events: none;
    }
    ul.menu{
        position: fixed;
        width: ((375-64)/$base-px*100vw);
        height: 100vh;
        top: 0;
        left: 0;
        // background:rgba(0,0,0,0.9) url(./img/dummy-kingyo.png) no-repeat bottom right;
        background:rgba(0,0,0,0.9);
        padding: ($base-padding/$base-px*100vw);
        pointer-events: auto;

        transition: transform 1s cubic-bezier(.23,1,.32,1);
        transform: translateX(-((375-64)/$base-px*100vw));
        @include breakpoint($bp-md) {
            width: 80%;
            padding: 20px;
            transform: translateX(-100%);
        }
    
        li{
            a{
                display:block;
                padding: (10/$base-px*100vw) (8/$base-px*100vw);
                color:$color-white;
                font-size: (16/$base-px*100vw);
                text-decoration: none;
                white-space: nowrap;
                @include breakpoint($bp-md) {
                    padding: 10px;
                    font-size: 16px;
                }
            }
        }
    }
}

.p-nav{
    position: fixed;
    top: 0;
    right: 0;
    width: (64/$base-px*100vw);
    height: (64/$base-px*100vw);
    background:rgba(255,255,255,0.35);
    cursor: pointer;
    z-index:101;
    @include breakpoint($bp-md) {
        width: 80px;
        height: 80px;
    }

    &.toggled + .p-menu{
        .p-menu{
            &_layer{
                opacity:1;
                pointer-events: auto;
            }
        }
        .menu{
            transform: translateX(0);
        }
    }

    >div{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -(5/2/$base-px*100vw);
        margin-left: -(40/2/$base-px*100vw);

        transition: transform 1s cubic-bezier(.23,1,.32,1);
        @include breakpoint($bp-md) {
            margin-top: 0;
            margin-left: -20px;
        }
    
        &:nth-child(1){
            transform: translateY(-(10/2/$base-px*100vw)) translateZ(0);
            @include breakpoint($bp-md) {
                transform: translateY(-5px) translateZ(0);
            }
            svg{
            }
        }
        &:nth-child(2){
            transform: translateY((10/2/$base-px*100vw)) translateZ(0);
            @include breakpoint($bp-md) {
                transform: translateY(5px) translateZ(0);
            }
            svg{
            }
        }
        svg{
            width: (40/$base-px*100vw);
            height: (5/$base-px*100vw);
            display: block;
            margin: 0;
            padding: 0;
            @include breakpoint($bp-md) {
                width: 40px;
                height: auto;
            }
        }
    }
    &.toggled{
        > div:nth-child(1){
            transform: rotate(-45deg) translateY((-1/$base-px*100vw)) translateZ(0);
        }
        > div:nth-child(2){
            transform: rotate(45deg) translateY((-1/$base-px*100vw)) translateZ(0);
        }
    }
}

.p-nav_bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    // background:rgba($color-black, 0.85);
    z-index:102;
    @include breakpoint($bp-md) {
        left: auto;
        bottom: 300px;
        top: auto;
        right: 0;
     }
    ul{
        width: (375/$base-px*100vw);
        height: (64/$base-px*100vw);
        display:flex;
        flex-flow:row nowrap;
        justify-content: space-between;
        @include breakpoint($bp-md) {
            width: 50px;
            height: 200px;
            flex-flow:column nowrap;
        }

        li{
            flex-basis:33.3%;
            @include breakpoint($bp-md) {
                margin-bottom: 1px;
            }
            &:nth-child(2){
                @include breakpoint($bp-md) {
                    display:none;
                }
            }
            a{
                font-size: (13/$base-px*100vw);
                display:flex;
                flex-flow:column wrap;
                color:$color-white;
                text-decoration: none;
                text-align: center;
                background:rgba(0, 0, 0, 0.92);
                height: 100%;
                align-items: center;
                justify-content: center;
                line-height: 1.3;
                @include breakpoint($bp-md) {
                    display: block;
                    font-size: 1.4rem;
                    padding: 10px 10px 20px;
                    height: auto;
                    -webkit-writing-mode: vertical-rl;
                    -ms-writing-mode: tb-rl;
                        writing-mode: vertical-rl;
                    transition: all ease 0.3s;
                }
                &:hover{
                    @include breakpoint($bp-md) {
                        opacity: 0.8;
                    }
                }

                img{
                    display: block;
                    margin-top: -(6/$base-px*100vw);
                    width: auto;
                    @include breakpoint($bp-md) {
                        margin-top: 0;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.p-mv{
    height: (300/$base-px*100vw);
    margin-bottom: (30/$base-px*100vw);
    // background:#fff;
    @include breakpoint($bp-md) {
        width: 1200px;
        margin: 40px auto 30px;
        height: 720px;
    }
    .swiper-container{
        height: (300/$base-px*100vw);
        @include breakpoint($bp-md) {
            height: 720px;
        }
    }
    .swiper-button-prev,
    .swiper-button-next{
        display:none;
    }
    .swiper-pagination-bullet-active{
        background:#666;
    }
    .swiper-slide{
        img{
            width: 100%;
        }
    }
    &_copy{
        color:#000;
        position: absolute;
        top: (50/$base-px*100vw);
        left: 50%;
        margin-left: -(43/$base-px*100vw); 
        z-index:100;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        -webkit-font-feature-settings: 'pkna';
        font-feature-settings: 'pkna';
        font-size: (20/$base-px*100vw);
        line-height: 1.5;
        // background:#fff;
    }
    &_logo{
        position: absolute;
        top: (170/$base-px*100vw);
        left: 50%;
        margin-left: -(90/$base-px*100vw); 
        z-index:100;
        // background:rgba(60, 28, 0, 0.90);
        width: (180/$base-px*100vw);
        height: (180/$base-px*100vw);
        // border-radius:50%;
        // opacity:0;
        // transform: translateY(2.5vh);
        img:first-child{
            position: absolute;
            top: -34%;
            height:27%;
        }
        img:last-child{ 
            position: relative;
            top: 0%;
            height:90%;
        }

    }
    &_fish{
        opacity:0;
    }
    &_redfish{
        position: absolute;
        top: (130/$base-px*100vw); 
        right: -(75/$base-px*100vw);
        width: 55% !important;
        opacity:0;
    }
    &_blackfish{
        position: absolute;
        top: (12/$base-px*100vw); 
        left: -(115/$base-px*100vw); 
        width: 68% !important; 
        opacity:0;
    }
}

.p-schedule{
    border: 1px solid #ddd;
    border-collapse: collapse;
    background:#fff;
    width: 100%;
    th{
        border: 1px solid #ddd;
    }
    td{
        border: 1px solid #ddd;
        text-align: center;
        line-height:1.2;
        padding: (4/$base-px*100vw);
        span{
            font-size: (12/$base-px*100vw);
        }
    }
}

#logo-eng{
    width: (200/$base-px*100vw);
    height: auto;
    position: absolute;
    left: 50%;
    bottom: (68/$base-px*100vw);
    margin-left: -(100/$base-px*100vw);
    @include breakpoint($bp-md) {
        width: 500px;
        bottom: 300px;
        margin-left: -250px;
    }
    path{
        fill:#fff;
    }
}

.slide3 {
    #logo-eng{
        // bottom: (250/$base-px*100vw);
        @include breakpoint($bp-md) {
            bottom: 300px;
        }
       
        path{
            fill:#000;
        }
    }
    .p-fish_circle{
        background:#f1efde;
        border-radius: 50%;
        width:(300/$base-px*100vw);
        height:(300/$base-px*100vw);
        overflow: hidden;
        position: absolute;
        top: 0;
        left: (37.5/$base-px*100vw);
        @include breakpoint($bp-md) {
            width:600px;
            height:600px;
            top: 0;
            left: 50%;
            margin-left: -300px;
    
        }
        .p-mv_blackfish{
            top: -(27.5/$base-px*100vw); 
            left: -(40/$base-px*100vw); 
            width: 82% !important; 
            @include breakpoint($bp-md) {
                top: -50px;
                left: -78px;
                width: 490px !important;        
            }
        }
        .p-mv_redfish{
            top: (13/$base-px*100vw); 
            right: -(55/$base-px*100vw);
            width: 63% !important;
            opacity:0;
            @include breakpoint($bp-md) {
                top: 14px;
                right: -93px;
                width: 380px !important;
            }
        }
    }
}

.slide4 {
    #logo-eng{
        bottom: (250/$base-px*100vw);
   
        path{
            fill:#000;
        }
    }
}


.p-subcopy{
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;

    font-size: (20/$base-px*100vw);
    font-family: "正楷書CB1","Sei Kaisho CB1";
    letter-spacing:0.1em;
    line-height: 1.6;
    text-shadow:0 0 10px rgba(0,0,0,0.25);

    color:#fff;

    position: absolute;
    left: 50%;
    bottom: (20/$base-px*100vw);
    margin-left: -(140/$base-px*100vw);
    @include breakpoint($bp-md) {
        font-size: 16px;
        bottom: auto;
        margin: 0;
    }
}

.p-grid{
    margin-bottom: (30/$base-px*100vw);
    padding: 0 ($base-padding/$base-px*100vw);
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    $element: #{&};
    @include breakpoint($bp-md) {
        margin-bottom: 0;
        padding: 0 20px;
    }

    &[data-col="1"]{
        #{$element}{
            &_item{
                flex-basis:(315/$base-px*100vw);
            }
        }
    }

    &_item{
        flex-basis:(145/$base-px*100vw);
    }
    &_img{
        width: 100%;
        height: (145/$base-px*100vw);
        background:#fff;
        img{
            width: 100%;
        }
    }
    &_content{
        &_title{
            font-size: (14/$base-px*100vw);
            margin: (10/$base-px*100vw) 0 0 0;
        }
        &_text{
            font-size: (12/$base-px*100vw);
            margin: (5/$base-px*100vw) 0 0 0;
        }
    }
}

.p-banner{
    &_item{
        position: relative;
        display: block;
        width: 100%;
        height: (80/$base-px*100vw);
        margin-bottom: (12/$base-px*100vw);
        @include breakpoint($bp-md) {
            width: auto;
            height: auto;
        }
            // &:nth-child(1){
        //     a{
        //         background:url("./img/banner-reserve.jpg") no-repeat center center;
        //         background-size:cover;
        //     }
        // }
        // &:nth-child(2){
        //     a{
        //         background:url("./img/banner-hoken.jpg") no-repeat center center;
        //         background-size:cover;
        //     }
        // }
        // &:nth-child(3){
        //     a{
        //         background:url("./img/banner-reserve.jpg") no-repeat center center;
        //         background-size:cover;
        //     }
        // }
        // &:nth-child(4){
        //     a{
        //         background:url("./img/banner-toyo.jpg") no-repeat center center;
        //         background-size:cover;
        //     }
        // }
        // &:nth-child(5){
        //     a{
        //         background:url("./img/banner-blog.jpg") no-repeat center center;
        //         background-size:cover;
        //     }
        // }
        &:last-child(){
            margin-bottom:0;
        }

        a{
            display:flex;
            width: 100%;
            height: 100%;
            text-align: center;
            // background:url("./img/banner-blog.jpg") no-repeat center center;
            background-size:cover;
            align-items: center;
            align-content: center;
            justify-content: center;
            color:#000;
            font-size: (24/$base-px*100vw);
            font-family: "正楷書CB1","Sei Kaisho CB1";
            text-decoration: none;
            letter-spacing: 0.1em;
            line-height: 1.3;
            text-shadow: 0 0 6px rgba(255,255,255,0.95);
            position: relative;
            @include breakpoint($bp-md) {
                font-size: 2.0rem;
            }
            img{
                position: absolute;
                width: 100%;
                z-index: 1;
                opacity:0.82;
            }
            span{
                position: relative;
                z-index:2;
            }
        }
    }
}

.p-tile{
    padding: 0 ($base-padding/$base-px*100vw);
    @include breakpoint($bp-md) {
        display: flex;
        flex-flow:row nowrap;
        flex-grow: 1;
        margin: 0 -30px;
    }

    &_item{
        margin-bottom: (20/$base-px*100vw);
        font-size: (14/$base-px*100vw);
        @include breakpoint($bp-md) {
            font-size: 16px;
            margin: 0 30px 20px;
            flex-basis: 25%;
        }

        > a{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            text-decoration: none;
            color:#333;
            @include breakpoint($bp-md) {
                flex-flow:column wrap;
            }
        }

        &_img{
            background:#eaeaea;
            height: (85/$base-px*100vw);
            flex-basis:(85/$base-px*100vw);
            @include breakpoint($bp-md) {
                height: auto;
                flex-basis:100%;
                min-height: 193px;
            }
            img{
                width: 100%;
                vertical-align: top;
            }
        }

        &_content{
            flex-basis: (205/$base-px*100vw);
            padding-top: (8/$base-px*100vw);
            @include breakpoint($bp-md) {
                flex-basis: auto;
                padding-top: 0;
            }
            &_date{
                margin-top: (-5/$base-px*100vw);
                margin-bottom: (3/$base-px*100vw);
                font-size: (12/$base-px*100vw);
                @include breakpoint($bp-md) {
                    margin-top: 15px;
                    margin-bottom: 10px;
                    font-size: 14px;
                }
    
            }
        }
    }
}

.entry-header{
    .p-section_title{
        padding: ($base-padding*3/$base-px*100vw) 0 ($base-padding*1.5/$base-px*100vw);
        @include breakpoint($bp-md) {
            padding: 80px 0 50px;
        }
    }
}

.p-section{
    margin-bottom: ($base-padding*1.5/$base-px*100vw);
    @include breakpoint($bp-md) {
        width: 1200px;
        margin: 20px auto 100px auto;
    }
    &.is-full{
        @include breakpoint($bp-md) {
            width: 100%;
            margin: 20px auto 100px auto;
        }
    }
    &.p-linkbox{
        >a{
            @include breakpoint($bp-md) {
            }
        }
        .p-hasu_wrapper{
            @include breakpoint($bp-md) {
                width: 600px;
                height: 600px;
                margin: 0 auto;
            }
        }
        .p-link{
            margin: 0;
        }
    }
    &_title{
        margin: 0;
        padding: ($base-padding*1.25/$base-px*100vw) 0 ($base-padding/$base-px*100vw);
        text-align: center;
        font-size: (24/$base-px*100vw);
        font-family: "正楷書CB1","Sei Kaisho CB1";
        letter-spacing:0.15em;
        line-height: 1.6;
        // background:url(./img/cloud1.png) no-repeat 12% (24/$base-px*100vw);
        // background-size:88%;
        @include breakpoint($bp-md) {
            padding: 50px 0;
            font-size: 3.6rem;
        }

        &_sub{
            display: block;
            font-size: (10/$base-px*100vw);
            font-family: '游明朝', 'Yu Mincho', YuMincho, serif;
            letter-spacing:0.15em;
            color:#999;
            margin-top: (6/$base-px*100vw);
            @include breakpoint($bp-md) {
                font-size: 1.2rem;
                margin-top: 10px;
            }
        }
    }
    &_eyecatch{
        background:#fff;
        height:(200/$base-px*100vw);
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    &_content{
        padding: 0 ($base-padding/$base-px*100vw);
        h3{
            margin: ($base-padding/$base-px*100vw) 0 ($base-padding*0.75/$base-px*100vw);
            font-family: "正楷書CB1","Sei Kaisho CB1";
        }
    }
}

#booking-package{
    background:none !important;
}

#booking-package_calendarPage{
    background:none !important;
    .calendar{
        margin: 0 !important;
    }
}

%p-button{
    text-decoration: none;
    color:#000;
    display: block;
    width: (200/$base-px*100vw);
    margin: 0 auto;
    padding: (12/$base-px*100vw) 0;
    border: 1px solid #00000040;
    text-align: center;
    transition:all ease 0.5s;
    @include breakpoint($bp-md) {
        width: 200px;
        padding: 10px 20px;
    }
    &:hover{
        @include breakpoint($bp-md) {
            background:#000;
            color:#fff;
        }
    }
}

.p-link{
    margin: ($base-padding * 1.1/$base-px*100vw) 0 0;
    @include breakpoint($bp-md) {
        margin: 50px 0 0;
    }
    a{
        @extend %p-button;
    }
}

button{
    @extend %p-button;
}

.p-vertical{
    display:flex;
    flex-flow:row nowrap;
    >.title{
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        font-size: (12/$base-px*100vw);
        flex-grow: 1;
        position: relative;
    }
    .entry-title{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -(20/$base-px*100vw);
        white-space: nowrap;
    }
    >.img{
        width: (300/$base-px*100vw);
        height: (200/$base-px*100vw);
        overflow: hidden;
        img{
            width: 100%;
        }
    }
}

.home .p-logo {
    transform:translateY(-(64/$base-px*100vw));
}


.p-logo{
    position: fixed;
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    height: (64/$base-px*100vw);
    z-index:100;
    @include breakpoint($bp-md) {
        height: auto;
        padding: 15px 20px 20px;
    }
    &-main{
        padding: 0 (10/$base-px*100vw) 0 (15/$base-px*100vw);
        margin-right: (5/$base-px*100vw);
        font-family: "正楷書CB1","Sei Kaisho CB1";
        font-size: (28/$base-px*100vw);
        width: (125/$base-px*100vw);
        // display: flex;
        @include breakpoint($bp-md) {
            padding: 0;
            margin-right: 20px;
            width: 125px;
            font-size: 0;
        }

        img{
            position: relative;
            top: (5/$base-px*100vw);
            width: 100%;
            @include breakpoint($bp-md) {
                top: 0;
            }
        }
    }
    &-sub{
        position: relative;
        top: -(5/$base-px*100vw);
        font-family: "正楷書CB1","Sei Kaisho CB1";
        font-size: (12/$base-px*100vw);
        line-height: 1.3;
        letter-spacing: 0.1em;
        @include breakpoint($bp-md) {
            top: 0;
            font-size: 16px;
        }
    }
    // svg{
    //     width: (75/$base-px*100vw);
    //     height: (135/$base-px*100vw);
    //     path{
    //         fill:rgba(60, 28, 0, 0.90);
    //     }
    // }
}

.p-mv-logo{
    padding:(75/$base-px*100vw) 0 (50/$base-px*100vw);
    text-align: center;
    @include breakpoint($bp-md) {
        padding:40px 0;
    }
    img{
        width: 50%;
        vertical-align: top;
    }
}

.p-full{
    width: 100vw !important;
    margin-left:-(30/$base-px*100vw);
}

.p-map{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
    margin-top: (30/$base-px*100vw);
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter:grayscale(100%);
        -webkit-filter:grayscale(100%);
    }    
}

.entry-content{
    position: relative;
    padding-left: (30/$base-px*100vw);
    padding-right: (30/$base-px*100vw);
    padding-bottom: (30/$base-px*100vw);
    @include breakpoint($bp-md) {
        // width: 1200px;
        width: 840px;
        margin: 0 auto;
        padding: 40px 0;
    }
}

.p-archive{
    padding-left: (30/$base-px*100vw);
    padding-right: (30/$base-px*100vw);
    @include breakpoint($bp-md) {
        width: 840px;
        margin: 0 auto;
        padding: 0;
    }
    .entry-title{
        a{
            text-decoration: none;
        }
    }
    .p-tile{
        padding: 0;
    }
}

.p-question{
    position: relative;
    padding-left: (50/$base-px*100vw);
    margin-top:(50/$base-px*100vw);
    @include breakpoint($bp-md) {
        padding-left: 80px;
        margin-top:50px;
    }

    &:before{
        position: absolute;
        top: 0;
        left: 0;
        content:"Q";
        display: inline-block;
        border: 1px solid #aaa;
        width: (25/$base-px*100vw);
        height: (29/$base-px*100vw);
        text-align: center;
        padding-left:(4/$base-px*100vw);
        line-height: (29/$base-px*100vw);
        // margin-right: (15/$base-px*100vw);
        @include breakpoint($bp-md) {
            width: 40px;
            height: 44px;
            line-height: 44px;
            margin-right: 15px;
            padding-left: 4px;
        }
    }
}

.p-answer{
    position: relative;
    margin-top:(30/$base-px*100vw);
    padding-left: (50/$base-px*100vw);
    @include breakpoint($bp-md) {
        margin-top:30px;
        padding-left: 80px;
        }
    &:before{
        position: absolute;
        top: 0;
        left: 0;
        content:"A";
        display: inline-block;
        border: 1px solid #000;
        background:#000;
        color:#fff;
        width: (25/$base-px*100vw);
        height: (29/$base-px*100vw);
        text-align: center;
        padding-left:(4/$base-px*100vw);
        line-height: (29/$base-px*100vw);
        // margin-right: (15/$base-px*100vw);
        @include breakpoint($bp-md) {
            width: 40px;
            height: 44px;
            line-height: 44px;
            margin-right: 15px;
            padding-left: 4px;
        }
    }
    &:after{
        position: absolute;
        bottom: -(35/$base-px*100vw);
        left: 50%;
        content:"";
        display: block;
        border-bottom: 1px solid #ccc;
        width: (40/$base-px*100vw);
        height: (1/$base-px*100vw);
        margin-left: -(20/$base-px*100vw);
        @include breakpoint($bp-md) {
            bottom: -65px;
        }
    }
}

.p-img_butterfly1{
    position: absolute;
    top: (0/$base-px*100vw);
    right: -(80/$base-px*100vw);
    opacity:0.16;
    width: 80%;
}

.p-img_butterfly2{
    position: absolute;
    top: (280/$base-px*100vw);
    left: (50/$base-px*100vw);
    opacity:0.16;
    width: 30%;
}

.p-img_butterfly3{
    position: absolute;
    bottom: (20/$base-px*100vw);
    right: (50/$base-px*100vw);
    opacity:0.2;
    width: 20%;
}


p{
    line-height: 1.9;
}

#booking-package_schedulePage .box_shadow {
    box-shadow: -3px 0px 3px 0 rgba(0,0,0,0.08) !important;
}

#booking-package_inputFormPanel .required:after{
    color: #c52626 !important;
}

#booking-package_schedulePage .selectPanelError{
    color: #c52626 !important;
}

#bookingBlockPanel .loader #spinner{
    stroke: #90775e !important;
}

#booking-package_calendarPage .closeDay{
    background:#efe8d3a8 !important;
}

/**/

#menu-top_first,
.p-top_menu{
    li{
        margin-bottom: (10/$base-px*100vw);
        @include breakpoint($bp-md) {
            margin-bottom: 10px;
        }
        &:last-child(){
            margin-bottom: 0;
        }
        a{
            font-family: "正楷書CB1","Sei Kaisho CB1";
            font-size: (18/$base-px*100vw);
            text-decoration: none;
            color: #000;
            display: block;
            margin: 0 auto;
            padding: (16/$base-px*100vw) 0;
            border: 1px solid #00000040;
            text-align: center;
            @include breakpoint($bp-md) {
                font-size: 1.6rem;
                padding: 10px 0;
            }
        }
    }
}

.p-related{
    margin-top: (40/$base-px*100vw) !important;
    margin-bottom: (10/$base-px*100vw);
    &:last-child(){
        a{
            // margin-bottom: 0;
        }
    }
    a{
        font-family: "正楷書CB1","Sei Kaisho CB1";
        font-size: (18/$base-px*100vw);
        text-decoration: none;
        color: #000;
        display: block;
        margin: 0 auto (10/$base-px*100vw);
        padding: (10/$base-px*100vw) 0;
        border: 1px solid #00000040;
        text-align: center;
    }
}

.p-back{
    margin-top: (20/$base-px*100vw) !important;
    margin-bottom: (10/$base-px*100vw);
    a{
        font-family: "正楷書CB1","Sei Kaisho CB1";
        font-size: (14/$base-px*100vw);
        text-decoration: none;
        color: #000;
        display: block;
        margin: 0 auto (10/$base-px*100vw);
        padding: (5/$base-px*100vw) 0;
        border: 1px solid #00000040;
        text-align: center;
        width: 50%;
        transition: all ease 0.5s;
        @include breakpoint($bp-md) {
            font-size: 14px;
            width: 200px;
            padding: 10px 0;
        }
        &:hover{
            @include breakpoint($bp-md) {
                color: #fff;
                background:#000000;
            }
        }

    }
}

.p-more{
    margin-top: (20/$base-px*100vw) !important;
    margin-bottom: (10/$base-px*100vw);
    @include breakpoint($bp-md) {
        margin-top: 30px !important;
        margin-bottom: 20px;
    }

    a{
        font-size: (14/$base-px*100vw);
        text-decoration: none;
        color: #000;
        display: block;
        margin: 0 auto (10/$base-px*100vw);
        padding: (5/$base-px*100vw) 0;
        border: 1px solid #00000040;
        text-align: center;
        width: 50%;
        transition: all ease 0.5s;
        @include breakpoint($bp-md) {
            font-size: 14px;
            width: 200px;
            padding: 10px 0;
        }
        &:hover{
            @include breakpoint($bp-md) {
                color: #fff;
                background:#000000;
            }
        }
    }
}

.p-oriental{
    position: relative;
    margin-bottom: (80/$base-px*100vw);
    @include breakpoint($bp-md) {
        margin-bottom: 140px;
    }
    &.is-single{
        margin-bottom: 0;
    }
    &:last-child{
        margin-bottom: (40/$base-px*100vw);
    }
    &.is-single{
        .post-thumbnail{
            margin-left: 0;
            @include breakpoint($bp-md) {
                margin-left: auto;
            }
        }
    }

    .post-thumbnail{
        display: block;
        width: 100vw;
        margin-left: -(30/$base-px*100vw);
        @include breakpoint($bp-md) {
            width: 600px;
            margin: 0 auto;
        }
        img{
            width: 100%;
            height: 100%
        }
    }
    .entry-title{
        font-family: "正楷書CB1","Sei Kaisho CB1";
        text-align:center;
        a{
            color:#000;
        }
    }
    &_redfish{
        position: absolute;
        top: (30/$base-px*100vw); 
        right: -(40/$base-px*100vw);
        width: 60% !important;
        // opacity:0;
        @include breakpoint($bp-md) {
            top: 60px; 
            right: -60px;
        }
    }
    &_blackfish{
        position: absolute;
        top: (-10/$base-px*100vw); 
        left: -(70/$base-px*100vw); 
        width: 78% !important;
        transform:rotate(-4deg); 
        // opacity:0;
        @include breakpoint($bp-md) {
            top: -20px; 
            left: -130px; 
       }
    }
}

.menu-side-menu-container{
    height: 100vh;
}

table {
}

.p-who{
    tr{
        display:block;
    }
    th,td{
        display:block;
        letter-spacing: 0;
        // border: 1px solid #ddd;
    }
    border-collapse: collapse;
    thead{
        display: none;
    }
    tbody{
        tr{
            display: block;
            padding: (20/$base-px*100vw) 0;
            border-top: 1px dotted #ccc;
        }
        th{
            position: relative;
            text-align: left;
            padding-left: (75/$base-px*100vw);
            padding-top: (4/$base-px*100vw);
            margin-bottom: (15/$base-px*100vw);
            font-weight: normal;
            &:before{
                content:"分類";
                display: block;
                position: absolute;
                top:0;
                left: 0;
                border: 1px solid #ccc;
                width: (50/$base-px*100vw);
                padding: (2/$base-px*100vw) (5/$base-px*100vw);
                text-align: center;
                font-weight: bold;
            }
        }
        td{
            position: relative;
            padding-left: (75/$base-px*100vw);
            padding-top: (4/$base-px*100vw);
            &:before{
                content:"疾患名";
                display: block;
                position: absolute;
                top:0;
                left: 0;
                border: 1px solid #ccc;
                width: (50/$base-px*100vw);
                padding: (3/$base-px*100vw) (5/$base-px*100vw);
                text-align: center;
                font-weight: bold;
            }
        }
    }
}

.add-image{
    opacity:0;
    position: absolute;
    top: 0;
    width: 100vw;
    left: -8vw;
    @include breakpoint($bp-md) {
        width: 600px;
        left: 120px;
    }
    .is-single & {
        left: 0;
        @include breakpoint($bp-md) {
            left: 50%;
            margin-left: -300px;
        }
    }
}

#post-112{
    position: relative;
    .p-fish_circle{
        width: 90vw;
        height: 90vw;
        margin-left: -3vw;
        border-radius: 50%;
        background:#f0efdf;
        display: block;
        overflow: hidden;
        position: relative;
        @include breakpoint($bp-md) {
            width: 600px;
            height: 600px;
            margin: 0 auto;
        }
    }
}

#post-74{
    position: relative;
    .p-hasu_wrapper{
        margin-left: -8vw;
        @include breakpoint($bp-md) {
            margin-left: auto;
        }
    }
    &.is-single{
        .p-hasu_wrapper{
            margin-left: 0;
            @include breakpoint($bp-md) {
                margin-left: auto;
            }
        }
    }
}

.p-hasu_wrapper{
    width: 100vw;
    height: 100vw;
    display: block;
    overflow: hidden;
    position: relative;
    @include breakpoint($bp-md) {
        width: 600px;
        height: 600px;
        margin: 0 auto;
    }
    img{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        &.p-hasu_image1{
            z-index:3;
        }
        &.p-hasu_image2{
            z-index:1;
        }
        &.p-hasu_image3{
            z-index:2;
        }
        &.p-hasu_image4{
            z-index:4;
        }

        &.p-oriental_man{
            z-index:2;
        }
        &.p-oriental_cloud1{
            z-index:3;
        }
        &.p-oriental_cloud2{
            z-index:1;
        }
    }
}


/**/

.p-greeting{
    padding: 0 ($base-padding/$base-px*100vw);
    @include breakpoint($bp-md) {
        width: 700px;
        margin: 0 auto;
        padding: 0;
    }
    >img{
        display: block;
        width: 100%;
        margin-bottom: (20/$base-px*100vw);
        @include breakpoint($bp-md) {
            display: none;
        }
    }
}

.p-shortcut{
    padding: 0;
    flex-flow:row wrap;
    @include breakpoint($bp-md) {
        flex-flow:row nowrap;
    }
    .p-grid{
        &_item{
            position: relative;
            margin-top: 0;
            padding: (24/$base-px*100vw) 0;
            flex-basis:100vw !important;
            @include breakpoint($bp-md) {
                flex-basis:50% !important;
                padding: 50px 0;
            }
            > a{
                text-decoration: none;
            }
            &:nth-child(1){
                background:url(./img/sc1.jpg) no-repeat center center;
                background-size:cover;
            }
            &:nth-child(2){
                background:url(./img/sc2.jpg) no-repeat center center;
                background-size:cover;
            }
        }
        &_content{
            color:#fff;
            text-align: center;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            &_title{
                font-size: (20/$base-px*100vw);
                margin-top: 0;
                @include breakpoint($bp-md) {
                    font-size: 24px;
                }
            }
            &_text{
                @include breakpoint($bp-md) {
                    font-size: 16px;
                }
                >span{
                    display: inline-block;
                    margin-top: (10/$base-px*100vw);
                    padding: (2/$base-px*100vw) (16/$base-px*100vw);
                    border: 1px solid rgba(255,255,255,0.5);
                    font-size: (10/$base-px*100vw);
                    transition:all ease 0.5s;
                    @include breakpoint($bp-md) {
                        font-size: 14px;
                    }
                    &:hover{
                        @include breakpoint($bp-md) {
                            background:#000;
                            border: 1px solid #000;
                            color:#fff;
                        }
                    }
                }
            }
        }
    }
}

.p-gmap{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    @include breakpoint($bp-md) {
        padding-bottom: 25%;
    }

    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    iframe{
        filter:grayscale(100%);
        -webkit-filter:grayscale(100%);
    }
}

.p-req{
    color: #c52626;
}

/*cf7*/

div.wpcf7-response-output{
    padding: (6/$base-px*100vw) (10/$base-px*100vw);
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{
    border: 1px solid #c52626;
}

.wpcf7-form{
    .p-contact{
        li{
            margin-bottom: (20/$base-px*100vw);
        }
    }
}

/**/

.page-template-page-about{
    .entry-header{
        .p-section_title{
            padding-top: 0;
        }
    }
    .post-thumbnail{
        @include breakpoint($bp-md) {
            width: 600px;
            margin: 0 auto;
        }
    }
}